* {
  margin: 0;
  padding: 0;
  color: white;
}
.navbar {
  display: flex;

  color: white;
  height: 50px;
}
.icons {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: aliceblue;
}
header {
  background-color: rgb(5, 46, 134);
}
.navbar-section {
  background: linear-gradient(rgb(5, 46, 134), blue);
  border-radius: 2px solid black;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
}

.links ul {
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}
ul li {
  background-color: #03e9f4;
  border-radius: 17px;
  width: 100px;
  height: 25px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  padding: 1px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(blue, rgb(103, 103, 255));
}
.svg {
  width: 50%;
  display: flex;
  justify-content: center;
}
.image {
  justify-content: center;
  align-items: center;
  color: black;
  width: 50%;
}
img {
  height: 400px;
}
.img {
  margin: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img img {
  height: 100px;
  border-radius: 50%;
  box-shadow: 5px 5px 2px rgb(0, 29, 71);
}
.content {
  background-color: #6868f5;
  box-shadow: 10px 10px 5px rgb(69, 69, 108);
  font-weight: bold;
  font-family: cursive;
  border-radius: 150px;
  padding: 28px;
  margin-top: -73px;
}
.bold-icon {
  size: 30px;
}
.SKILLS {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(rgb(103, 103, 255), violet);
}
.Skills {
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
.svg-second {
  width: 50%;
}
.card {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 90px;
  border: 1px solid black;
  background-color: rgb(122, 0, 223);
  box-shadow: 4px 4px 2px rgb(65, 65, 65);
  height: 30px;
  font-family: cursive;
  font-weight: bold;
}
.first {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.second {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
span {
  color: #fff724;
}
a:hover {
  color: rgb(47, 231, 255);
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 20px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4, 0 0 300px #03e9f4, 0 0 400px #03e9f4;
}
.icons:hover {
  color: greenyellow;
}
.icons a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.card:hover {
  color: rgb(47, 231, 255);
  color: yellow;

  box-shadow: 0 0 5px rgb(122, 0, 223), 0 0 25px rgb(122, 0, 223),
    0 0 50px rgb(122, 0, 223), 0 0 200px rgb(122, 0, 223),
    0 0 300px rgb(122, 0, 223), 0 0 400px rgb(122, 0, 223);
}
